[program:ureport_celery_test]
command=/var/www/.virtualenvs/ureport_test/bin/celery -A ureport worker -B -l info
stdout_logfile=/var/log/ureport/celery_test.log
user=www-data
directory=/var/www/ureport_test/
autostart=true
autorestart=true
redirect_stderr=true
stopsignal=QUIT